# Ignore build output
bin/
obj/

# Ignore Visual Studio files
.vs/
*.user
*.suo
*.sln.docstates

# Ignore Rider or Resharper
.idea/
*.DotSettings.user

# Ignore temporary files
*.log
*.tmp

# Ignore publish outputs
publish/
